body {
	background-color: #e90000f1;
	font-family: Arial, sans-serif;
  }
  .topbar {
	padding: 20px;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	white-space: nowrap;
	overflow: hidden;
	word-wrap: break-word;
  }
  .container {
	max-width: 1000px;
	min-height: 40px;
	margin-top: 100px;
	margin-left: 25%;
	margin-right:25%;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	white-space: nowrap;
	overflow: hidden;
	word-wrap: break-word;

  }
  .search-box {
	max-width: 600px;
	display: flex;
	float: inline-end;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
  }
  .search-box input[type="text"] {
	flex: 1;
	padding: 10px;
	border: none;
	font-size: 16px;
  }
  .search-box button {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	font-size: 16px;
	cursor: pointer;
  }